[submodule "bundle/pathogen"]
	path = bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
	ignore = untracked
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
	ignore = untracked
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
	ignore = untracked
[submodule "bundle/solarized"]
	path = bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
	ignore = untracked
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
	ignore = untracked
[submodule "bundle/gitv"]
	path = bundle/gitv
	url = https://github.com/gregsexton/gitv.git
	ignore = untracked
[submodule "bundle/sahara"]
	path = bundle/sahara
	url = https://github.com/tejr/sahara.git
	ignore = untracked
[submodule "bundle/undotree"]
	path = bundle/undotree
	url = https://github.com/mbbill/undotree.git
	ignore = untracked
[submodule "bundle/vimux"]
	path = bundle/vimux
	url = https://github.com/benmills/vimux.git
	ignore = untracked
[submodule "bundle/recover"]
	path = bundle/recover
	url = https://github.com/chrisbra/Recover.vim.git
	ignore = untracked
[submodule "bundle/buffergator"]
	path = bundle/buffergator
	url = https://github.com/jeetsukumaran/vim-buffergator.git
	ignore = untracked
[submodule "bundle/molokai"]
	path = bundle/molokai
	url = https://github.com/tomasr/molokai.git
	ignore = untracked
[submodule "bundle/easymotion"]
	path = bundle/easymotion
	url = https://github.com/Lokaltog/vim-easymotion
	ignore = untracked
[submodule "bundle/badwolf"]
	path = bundle/badwolf
	url = https://github.com/sjl/badwolf.git
	ignore = untracked
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
	ignore = untracked
[submodule "bundle/zoomwin"]
	path = bundle/zoomwin
	url = https://github.com/vim-scripts/ZoomWin.git
	ignore = untracked
[submodule "bundle/signature"]
	path = bundle/signature
	url = https://github.com/kshenoy/vim-signature.git
	ignore = untracked
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim.git
	ignore = untracked
[submodule "bundle/clam"]
	path = bundle/clam
	url = https://github.com/sjl/clam.vim.git
	ignore = untracked
[submodule "bundle/xolox-misc"]
	path = bundle/xolox-misc
	url = https://github.com/xolox/vim-misc.git
	ignore = untracked
[submodule "bundle/xolox-shell"]
	path = bundle/xolox-shell
	url = https://github.com/xolox/vim-shell
	ignore = untracked
[submodule "bundle/easytags"]
	path = bundle/easytags
	url = https://github.com/xolox/vim-easytags
	ignore = untracked
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar
	ignore = untracked
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
	ignore = untracked
[submodule "bundle/peaksea"]
	path = bundle/peaksea
  url = https://github.com/vim-scripts/peaksea
	ignore = untracked
[submodule "bundle/yankring"]
	path = bundle/yankring
	url = https://github.com/vim-scripts/YankRing.vim
	ignore = untracked
[submodule "bundle/splice"]
	path = bundle/splice
	url = https://github.com/sjl/splice.vim
	ignore = untracked
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular
	ignore = untracked
[submodule "bundle/endwise"]
	path = bundle/endwise
	url = https://github.com/tpope/vim-endwise.git
	ignore = untracked
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
	ignore = untracked
[submodule "bundle/textobj-word-column"]
	path = bundle/textobj-word-column
	url = https://github.com/coderifous/textobj-word-column.vim.git
	ignore = untracked
[submodule "bundle/abolish"]
	path = bundle/abolish
	url = https://github.com/tpope/vim-abolish.git
	ignore = untracked
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
	ignore = untracked
[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
	ignore = untracked
[submodule "bundle/signify"]
	path = bundle/signify
	url = https://github.com/mhinz/vim-signify
	ignore = untracked
[submodule "bundle/ag"]
	path = bundle/ag
	url = https://github.com/rking/ag.vim
	ignore = untracked
[submodule "bundle/sneak"]
	path = bundle/sneak
	url = https://github.com/justinmk/vim-sneak.git
	ignore = untracked
[submodule "bundle/daylerees-colour-schemes"]
	path = bundle/daylerees-colour-schemes
	url = https://github.com/daylerees/colour-schemes.git
	ignore = untracked
[submodule "bundle/pasta"]
	path = bundle/pasta
	url = https://github.com/sickill/vim-pasta.git
  ignore = untracked
[submodule "bundle/airline"]
	path = bundle/airline
	url = https://github.com/bling/vim-airline.git
  ignore = untracked
[submodule "bundle/polyglot"]
	path = bundle/polyglot
	url = https://github.com/sheerun/vim-polyglot.git
  ignore = untracked
[submodule "bundle/incsearch"]
	path = bundle/incsearch
	url = https://github.com/haya14busa/incsearch.vim.git
  ignore = untracked
[submodule "bundle/nerdtree-git"]
	path = bundle/nerdtree-git
	url = https://github.com/Xuyuanp/nerdtree-git-plugin
  ignore = untracked
[submodule "bundle/alduin"]
	path = bundle/alduin
	url = https://github.com/AlessandroYorba/Alduin.git
  ignore = untracked
